<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notificação de nova resposta</title>
</head>
<body>
  <h1>Olá <%= name %>,</h1>
  <p>uma nova resposta foi adicionada na tua porgunta no video "<%= title %>".</p>
  <p>Porfavor faza o login no nosso website para continuares a ver as perguntas e as resposta.</p>
  <p>Obrigado por fazeres parte desta comunidade!</p>
</body>
</html>
